name: Autograding Tests
on:
  push:
  repository_dispatch:
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Run autograding
      id: tests
      uses: classroom-resources/autograding-command-grader@v1
      with:
        timeout: 10
        test-name: pytest
        setup-command: ''
        command: python -m pytest --maxfail=1 --disable-warnings -q
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TESTS_RESULTS: "${{steps.tests.outputs.result}}"
      with:
        runners: tests
